.lana{
    background-color:#f4f4f4;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
    border:  ;
}
.container{
    width: 500px;
}